<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title></head>
<body>
<button id="pbGetMovies">Get Movies</button>
<br>
<div class="div1"><h1>Movies</h1>
    <table class="table" id="tblMovies">
        <tr>
            <th>Title</th>
            <th>Duration </th>
            <th> Actors </th>
            <th> Age requirement </th>
            <th> Movie period start </th>
            <th> Movie period end </th>
            <th> Genre </th>

        </tr>
    </table>
</div>
<script Type="module" src="/static/js/movietable.js"></script>
</body>
</html>